{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Boards</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <H1>Boards</H1>
    <table border="1">
        <thead>
            <tr>
                <td>Board</td>
                <td>Posts</td>
                <td>Topics</td>
                <td>Last Post</td>
            </tr>
        </thead>
        <tbody>
        {% for board in boards %}
            <tr>
                <td>
                    {{ board.name }}<br>
                    <small >{{ board.description }}</small>
                </td>
                <td>0</td>
                <td>0</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>